!!!
%body
	%head
		%title Restful Form
		%script{ :src => 'http://code.jquery.com/jquery-latest.js' }
		%script{ :src => 'jquery.restful-form-min.js' }
		%link{ :href => 'style.css', :rel => 'stylesheet' }

	%body

		#flash= @flash

		#methods
			-%w{PUT GET POST DELETE}.each do |method|
				%fieldset
					%legend= "&lt;form method=\"#{method}\"&gt;"
					%form{ :action => '/path', :method => method }
						%button Submit
					%form.restful{ :action => '/resource', :method => method }
						%button RESTful Submit
					%form.restful{ :action => '/resource', :method => method, :target => '#flash' }
						%button RESTful Submit &amp; Load
			.clearfix

		%fieldset
			%legend= "With fields"
			%form.restful{ :action => '/resource', :method => :put }
				%input{ :name => :test_field1, :type => :text, :value => 'test_value' }
				%button Submit

		#readme= @README.to_html
