!!!
%body
	%head
		%title jQuery Submit Demo
		%script{ :src => 'http://code.jquery.com/jquery-latest.js' }
		%script{ :src => '/jquery.submit.js' }
		%script{ :src => '/demo.js' }
		%link{ :href => '/style.css', :rel => 'stylesheet' }

	%body

		#flash= @flash

		#methods
			-%w{GET POST PUT DELETE}.each do |method|
				%fieldset
					%legend= "&lt;form method=\"#{method}\"&gt;"
					%form{ :action => '/path', :method => method }
						%button Submit
					%form.jquery-submit{ :action => '/resource', :method => method }
						%button jQuery Submit
					%form.jquery-submit{ :action => '/resource', :method => method, :target => 'my_frame' }
						%button jQuery Submit to Frame
					%form.jquery-submit{ :action => '/resource', :method => method, :target => '#flash < #flash' }
						%button jQuery Submit &amp; Load
			.clearfix

		%iframe{ :name => 'my_frame' }
		%fieldset
			%legend= "With fields"
			%form.jquery-submit{ :action => '/resource', :method => :put }
				%input{ :name => :test_field1, :type => :text, :value => 'test_value' }
				%button jQuery Submit

		#readme= @README.to_html
